__pycache__/
*.py[cod]
*.egg-info/
/dist/
/build/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
canonical_sources/*.frc
canonical_sources/*.prm
canonical_sources/INTERFACE_FF_1_5/
!canonical_sources/.gitkeep
